
.contacts {
  border-top: 1px solid rgba(17,17,17,0.1);
  display: grid;
  grid-template-columns: max-content 580px;
  justify-content: space-between;
  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &_column {
      grid-template-columns: max-content;
      grid-template-rows: repeat(3, max-content);
    }
    li {
      display: flex;
    }
  }
  &__icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-top: 5px;
    background-color: rgba(241, 137, 73, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    margin-bottom: 40px;
    animation: fadeIn 1.5s 1.5s linear forwards;
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      opacity: 0;
      background-color: var(--color-main);
      border-radius: 50%;
      animation: fadeIn 2s 2.3s linear forwards;
    }
  }
  &__main-text {
    font-weight: 700;
    font-size: 27px;
    line-height: var(--line-height-120);
    max-width: 300px;
    >span {
      animation-delay: .9s;
    }
  }
  &__sub-text {
    font-weight: 300;
    font-size: 14px;
    line-height: var(--line-height-150);
    margin-bottom: 20px;
    >span {
      animation-delay: 1.15s;
    }
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
