.services {
  &__item {
    transition: var(--transition-slow);
    a {
      display: grid;
      grid-template-columns: 340px 570px;
      justify-content: space-between;
      align-items: center;
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(17,17,17,0.1);
    }
    &:hover {
      .services__icon {
        opacity: 1;
        svg {
          transition-delay: 0.25s;
          transform: rotate(47deg);
        }
      }
      .services__hidden-word span {
        transform: translateY(0);
      }
      &.first .first-graphics {
        svg {
          &:nth-child(1) {
            left: 150px;
            animation-name: therd-1;
          }
          &:nth-child(2) {
            right: 160px;
            animation-name: therd-2;
          }
          &:nth-child(3) {
            right: 235px;
            animation-name: therd-3;
          }
        }
      }
      &.second .second-graphics {
        svg {
          &:nth-child(1) {
            left: 220px;
            top: -40px;
            animation-name: second-1;
          }
          &:nth-child(3) {
            right: 235px;
            top: 55px;
            animation-name: second-3;
          }
        }
      }
      &.therd .therd-graphics {
        svg {
          &:nth-child(1) {
            left: 220px;
            animation-name: therd-1;
          }
          &:nth-child(2) {
            left: 50px;
            animation-name: therd-2;
          }
          &:nth-child(3) {
            right: 185px;
            animation-name: therd-3;
          }
        }
      }
      &.fourth .fourth-graphics {
        svg {
          &:nth-child(1) {
            left: 240px;
            animation-name: fourth-1;
          }
          &:nth-child(2) {
            left: 50px;
            animation-name: fourth-2;
          }
          &:nth-child(3) {
            right: 170px;
            animation-name: fourth-3;
          }
        }
      }
      &.fifth .fifth-graphics {
        svg {
          &:nth-child(1) {
            left: 240px;
            animation-name: fifth-1;
          }
          &:nth-child(2) {
            right: 50px;
            animation-name: fifth-2;
          }
          &:nth-child(3) {
            right: 170px;
            animation-name: fifth-3;
          }
        }
      }
      &.sixth .sixth-graphics {
        svg {
          &:nth-child(1) {

            top: 0px;
            animation-name: sixth-1;
          }
          &:nth-child(3) {

            top: 0px;
            animation-name: sixth-3;
          }
        }
      }
      &.seventh .seventh-graphics {
        svg {
          &:nth-child(1) {
            left: 260px;
            top: -40px;
            animation-name: seventh-1;
          }
          &:nth-child(3) {
            right: 270px;
            top: 55px;
            animation-name: seventh-3;
          }
        }
      }
      &.eighth .eighth-graphics {
        svg {
          &:nth-child(1) {
            left: 230px;
            top: 30px;
            animation-name: eighth-1;
          }
          &:nth-child(3) {
            right: 220px;
            top: 30px;
            animation-name: eighth-3;
          }
        }
      }
      &.ninth .ninth-graphics {
        svg {
          &:nth-child(1) {
            left: 280px;
            top: 30px;
            animation-name: ninth-1;
          }
          &:nth-child(3) {
            right: 270px;
            top: 30px;
            animation-name: ninth-3;
          }
        }
      }
    }

  }
  &__info {
    position: relative;
    h3 {
      margin-bottom: 20px;
    }
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: var(--line-height-150);
    }
  }
  &__counter {
    position: absolute;
    left: -50px;
    top: -20px;
    font-weight: 300;
    font-size: 22px;
    color: var(--color-subtext);
    line-height: var(--line-height-150);
  }
  &__box {
    position: absolute;
    left: 0;
    bottom: -80px;
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 50px;
    height: 50px;
    background-color: var(--color-main);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition-slow);
    svg {
      fill: #fff;
      transition: var(--transition-default);
    }
  }
  &__hidden-word {
    overflow: hidden;
    padding-left: 10px;
    span {
      display: block;
      font-size: 12px;
      line-height: var(--line-height-150);
      transition: var(--transition-default);
      transition-delay: 0.25s;
      transform: translateY(100%);
    }
  }
  &__graphics {
    display: flex;
    align-items: center;
    min-height: 200px;
    * {
      flex-shrink: 0;
      position: relative;
      transition: var(--transition-default);
    }
  }
}

@mixin animtionConfing {
  transition: 0.75s   cubic-bezier(0.41, 0, 0.13, 1.005);
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite ;
  animation-direction: alternate;
}



.first {
  svg {
   @include animtionConfing;
    transform: translateY(0);
    animation-delay: 1s;
    animation-duration: 3.25s;

    &:nth-child(1) {
      left: 0;
      //animation: 3.25s 1s linear infinite alternate forwards;
    }
    &:nth-child(2) {
      right: 50px;
      //animation: 3.25s 1s linear infinite alternate forwards;
    }
    &:nth-child(3) {
      //animation: 3.25s 1s linear infinite alternate forwards;
      right: 110px;
      bottom: 0;
    }
  }
}
@keyframes first-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.first-1 {
  animation-name: first-1;
}
@keyframes first-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }

}
.first-2 {
  animation-name: first-2;
}
@keyframes first-3 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(5px);
  }
  100% {
    transform: translate(-5px);
  }

}
.first-3 {
  animation-name: first-3;
}

.second {
  svg {
    @include animtionConfing;
    animation-duration: 1.75s;
    &:nth-child(1) {
      left: 45px;
      top: 55px;
    }
    &:nth-child(3) {
      right: 60px;
      top: -40px;
    }
  }
}

@keyframes second-1 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(10px, -10px);
  }

}
.second-1 {
  animation-name: second-1;
}
@keyframes second-3 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}
.second-3 {
  animation-name: second-3;
}


.therd {
  svg {
    @include animtionConfing;
    animation-duration: 3.25s;
    &:nth-child(1) {
      left: 45px;
    }
    &:nth-child(2) {
      left: 0;
    }
    &:nth-child(3) {
      right: 60px;
    }
  }
}

@keyframes therd-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}
.therd-1 {
  animation-name: therd-1;
}
@keyframes therd-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }

}
.therd-2 {
  animation-name: therd-2;
}
@keyframes therd-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}
.therd-3 {
  animation-name: therd-3;
}

.fourth {
  svg {
    @include animtionConfing;
    animation-duration: 5.25s;
    &:nth-child(1) {
      left: 45px;
    }
    &:nth-child(2) {
      left: 20px;
    }
    &:nth-child(3) {
      right: 0;
    }
  }
}

@keyframes fourth-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(23px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.fourth-1 {
  animation-name: fourth-1;
}
@keyframes fourth-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }

}
.fourth-2 {
  animation-name: fourth-2;
}
@keyframes fourth-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}
.fourth-3 {
  animation-name: fourth-3;
}

.fifth {
  svg {
    @include animtionConfing;
    animation-duration: 5.25s;
    &:nth-child(1) {
      left: 45px;
      top: 65px;
    }
    &:nth-child(2) {
      right: 0;
    }
    &:nth-child(3) {
      right: 45px;
      top: 75px;
    }
  }
}

@keyframes fifth-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(23px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.fifth-1 {
  animation-name: fifth-1;
}
@keyframes fifth-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }

}
.fifth-2 {
  animation-name: fifth-2;
}
@keyframes fifth-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}
.fifth-3 {
  animation-name: fifth-3;
}

.sixth {
  svg {
    @include animtionConfing;
    animation-duration: 1.75s;
    &:nth-child(1) {
      left: 30px;
      top: -30px;
    }
    &:nth-child(3) {
      right: 30px;
      top: 30px;
    }
  }
}

@keyframes sixth-1 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-10px);
  }

}
.sixth-1 {
  animation-name: sixth-1;
}
@keyframes sixth-3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.sixth-3 {
  animation-name: sixth-3;
}

.seventh {
  svg {
    &:nth-child(1) {
      left: 30px;
      top: 60px;
    }
    &:nth-child(3) {
      right: 70px;
      bottom: 45px;
    }
  }
}

.seventh {
  svg {
    @include animtionConfing;
    animation-duration: 1.75s;
    &:nth-child(1) {
      left: 45px;
      top: 55px;
    }
    &:nth-child(3) {
      right: 60px;
      top: -40px;
    }
  }
}

@keyframes seventh-1 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(10px, -10px);
  }

}
.seventh-1 {
  animation-name: seventh-1;
}
@keyframes seventh-3 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}
.seventh-3 {
  animation-name: seventh-3;
}

.eighth {
  svg {
    @include animtionConfing;
    animation-duration: 1.75s;
    &:nth-child(1) {
      left: 30px;
      top: 10px;
    }
    &:nth-child(2) {
      top: 30px;
    }
    &:nth-child(3) {
      right: 50px;
      top: -45px;
    }
  }
}

@keyframes eighth-1 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(10px, -10px);
  }

}
.eighth-1 {
  animation-name: eighth-1;
}
@keyframes eighth-3 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}
.eighth-3 {
  animation-name: eighth-3;
}

.ninth {
  svg {
    @include animtionConfing;
    animation-duration: 2.15s;
    &:nth-child(1) {
      left: 30px;
      top: 10px;
    }
    &:nth-child(3) {
      right: 210px;
      top: 105px;
    }
  }
}

@keyframes ninth-1 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(10px, -10px);
  }

}
.eighth-1 {
  animation-name: ninth-1;
}
@keyframes ninth-3 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}
.ninth-3 {
  animation-name: ninth-3;
}


