.news {
  &__category {
    display: flex;
    justify-content: center;
    li {
      position: relative;
      width: fit-content;
      font-weight: bold;
      font-size: 18px;
      line-height: var(--line-height-150);
      &:not(:last-child) {
        margin-right: 60px;
      }
      span {
        font-weight: 300;
        font-size: 12px;
        color: var(--color-subtext);
        line-height: var(--line-height-150);
        position: absolute;
        right: -15px;
        top: -5px;
      }
    }
  }
}

