//.news {
//  &__category {
//    display: flex;
//    justify-content: center;
//    li {
//      position: relative;
//      width: fit-content;
//      font-weight: bold;
//      font-size: 18px;
//      line-height: var(--line-height-150);
//      &:not(:last-child) {
//        margin-right: 60px;
//      }
//      span {
//        font-weight: 300;
//        font-size: 12px;
//        color: var(--color-subtext);
//        line-height: var(--line-height-150);
//        position: absolute;
//        right: -15px;
//        top: -5px;
//      }
//    }
//  }
//}

//.elem {
//  width: 100px;
//  height: 100px;
//  line-height: 100px;
//  text-align: center;
//  font-size: 14px;
//  border: 1px solid red;
//  background-color: red;
//  transition:  .2s;
//  border-radius: 50%;
//}
//.item {
//  padding: 10px;
//  width: fit-content;
//  border: 1px solid;
//}

.elem,
.item {
  border: 1px solid;
  width: fit-content;
  transition: 0.5s;
}