#header {
  position: relative;
  z-index: var(--z-index-hight);
  animation: modalShow 0.75s 0.15s linear forwards;
  opacity: 0;
}

.header {
  &.scrolled {

    .header__box {
      transform: scale(.9) translateY(0px) translateX(0);
    }
    .header__info {
      opacity: 0;
      pointer-events: none;
    }
  }
  &-hard {
    width: 100%;
    height: 100px;
  }
  &-black {
    color: var(--color-text);
    transition: var(--transition-default);
    .header__menu {
      color: var(--color-text);
      > div.on-mouse-hover > span:before,
      > div.on-mouse-hover > span:after {
        background: var(--color-text);
      }
    }
    .header__logo {
      fill: var(--color-text);
      text-align: right;
      transition: var(--transition-default);
    }
  }
  &__container {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
  }
  &__box {
    text-align: right;
    transform: translateY(5px) translateX(-15px);
    transition: var(--transition-default);
  }
  &__top {
    position: relative;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    width: clamp(965px, 90vw, 2500px);
    transition:  0.5s 0.3s;
  }
  &__menu {
    color: var(--color-white);
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    > div.on-mouse-hover > span {
      width: 30px;
      position: relative;
      cursor: pointer;
      display: block;
      transition: var(--transition-default);
      &:after {
        content: '';
        display: block;
        width: 70%;
        height: 2px;
        background-color: var(--color-white);
        margin-top: 12px;
        transform-origin: 0;
        transition: var(--transition-default);
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-white);
        transform-origin: 9px;
        transition: var(--transition-default);
      }
      &.active {
        &:after {
          transform: rotate(-41deg);
          width: 100%;
          transition: transform 0.5s;
        }
        &:before {
          transform: rotate( 46deg);
          transition: transform 0.5s;
        }
      }
    }
    &-title {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 18px;
      span {
        display: block;
        cursor: pointer;
        transition: var(--transition-default);
        transition-delay: 0.015s;
        &:nth-child(2) {
          transform: translateY(0);
        }
      }
      &.open span {
        &:nth-child(2),
        &:nth-child(1) {
          transform: translateY(-100%);
        }
      }
    }
    &-container {
      position: relative;
      margin-left: 10px;
      >p {
        font-size: 14px;
        line-height: var(--line-height-120);
        cursor: pointer;
      }
    }
    &-list {
      position: absolute;
      left: 0;
      top: calc(100% + 15px);
      font-size: 12px;
      min-width: 90px;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.hidden {
       li {
         animation: menuHidden 0.3s linear forwards;
         &:nth-child(1) {
           animation-delay: 0.4s;
         }
         &:nth-child(2) {
           animation-delay: 0.3s;
         }
         &:nth-child(3) {
           animation-delay: 0.2s;
         }
         &:nth-child(4) {
           animation-delay: 0.1s;
         }
       }
      }
      li {
        position: relative;
        width: fit-content;
        font-size: 12px;
        //opacity: 0.2;
        //transform: translateY(0px);
        //margin-bottom: 0px;
        line-height: var(--line-height-150);
        transition: var(--transition-default);
        animation: menuShow 0.45s 0.1s linear both;
        cursor: pointer;
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
        &:nth-child(4) {
          animation-delay: 0.4s;
        }
        &:hover {
          transform: translateX(5px);
        }
        &.active {
          color: var(--color-main);
          &:hover {
            transform: translateX(0);
          }
          &:before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            right: -15px;
            top: 4px;
            background: url('../../assets/images/arrow-menu.svg') no-repeat center;
          }
        }
      }
    }
  }
  &__logo {
    fill: #fff;
  }
  .header-logo {
    position: relative;
    z-index: var(--z-index-low);
    transition: all 0.55s 0.1s cubic-bezier(.41,0,.13,1.005);
  }
  &__info {
    text-align: right;
    //width: clamp(1200px, 90vw, 2500px);
    margin: 10px auto 0;
    font-size: calc(0.45rem + 0.4vw);
    line-height: var(--line-height-120);
    color: var(--color-subtext);
    transition: var(--transition-default);
    //animation: modalShow 0.7s 0.5s linear forwards;
    *:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      transform: translateY(100%);
      display: block;
      animation: translateY 0.5s 0.9s cubic-bezier(.41,0,.13,1.005) forwards;
    }
    a,p {
      overflow: hidden;
    }
    a:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &:before {
        content: '';
        display: inline-block;
        background-color: var(--color-main);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 3px;
      }
    }
  }

}


@keyframes menuShow {
  0% {
    transform: translateY(-10px);
    //margin-bottom: 0px;
    opacity: 0;
    //visibility: hidden;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    //margin-bottom: 5px;
    opacity: 1;
    //visibility: visible;
  }
}

@keyframes menuHidden {
  0% {
    transform: translateY(0px);
    //margin-bottom: 5px;
    //opacity: 1;
    //visibility: visible;
  }

  100% {
    opacity: 0;
    //visibility: hidden;
    pointer-events: none;
    //margin-bottom: 0px;
    transform: translateY(-10px);
  }
}


// header - media - start

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 993px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 577px) {

}

// header - media - end
