/*height - start*/
.h-full {
  height: 100%;
}
/*height - end*/

/*width - start*/
.mw-full {
  max-width: 100%;
}
.w-auto {
  margin: 0 auto;
}
/*width - end*/

/*indents - start*/
.p-0-2 {
  padding: 0 2%;
}

.p-80 {
  padding: 80px 0;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-150 {
  padding-bottom: 150px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mr-7 {
  margin-right: 7px;
}

.ml-auto {
  margin-left: auto;
}

/*idents - end */

/*align - start*/

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/*align - end*/

.section {
  padding: 150px 0;
}

.alone-section {
  padding: 50px 0;
}

.sub-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: var(--color-main);
}

.bg {
  background-color: var(--color-bg);
}

.translate-parent {
  position: relative;
  overflow: hidden;
  display: block;
}

.translate-content {
  display: block;
  transform: translateY(100%) ;
  animation: translateY 1.5s 0.5s cubic-bezier(.41,0,.13,1.005) forwards;
  line-height: 1.5em;
}

@keyframes translateY {
  0%{
    transform: translateY(100%) ;
  }
  100% {
    transform: translateY(0) ;
  }
}


