.ourteam {
  position: relative;
  &__title {
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
  }
  #ourteam {
    padding: 90px 0 80px;
    padding-right: 45px;
    margin-right: -45px;
  }
  &__box {
    padding-top: 10px;
    p {
      font-weight: 300;
      font-size: 12px;
      line-height: var(--line-height-150);
      color: var(--color-subtext);
    }
  }
  &__btn {
    margin: 0 auto;
    width: fit-content;
  }
  .swiper-pagination {
    top: -6px;
    left: auto;
    right: 70px;
    width: 70px;
    height: 30px;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    width: 100px;
    height: 100px;
    right: -60px;
    margin-top: 15px;
    background-color: var(--color-main);
    border-radius: 50%;
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('../../../assets/images/whitearrow.svg');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      transition: var(--transition-default);
      position: absolute;
      left: 40px;
      top: 40px;
    }
    &:before {
      content: '';
      width: 165px;
      height: 165px;
      display: block;
      left: -33px;
      top: -33px;
      position: absolute;
      background: url('../../../assets/images/roundText.svg') no-repeat center;
      animation: rotate 50s linear infinite forwards;
    }
    &:hover:after {
      transform: rotate(46deg);
    }
  }
}

